$font-thin:'Lato', sans-serif;
$font-stack: Arial, sans-serif;
$primary-color: #ef6351;
$secondary-color: #f38357;
$tertiary-color: #f7a399;
$quaternary-color: #fbc3bc;
$quinary-color: #ffe3e0;

main {
  margin-left: 20px;

  input [type=text]{
      display:block;
      margin-top: 10px;
      margin-bottom: 20px;
      height: 10%;
      width: 50%;
      background:white;
      border: 1px solid black;
      color: black;
      font-size: 24px;
      font-family: $font-stack;
      border: none;
  }
  label {
      display:block;
      font-size: 18px;
      font-family: $font-stack;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  button {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 25%;
      height: 40px;
      background: $primary-color;
      color: white;
      font-size: 18px;
      font-family: $font-stack;
      border: none;
      // box-shadow: 2px 4px 5px #444;
  }
}
