$font-oswald: 'Oswald', sans-serif;
$font-display:'Lobster', cursive;
$font-thin:'Lato', sans-serif;
$font-stack: Arial, sans-serif;
$primary-color: #ef6351;
$secondary-color: #f38357;
$tertiary-color: #f7a399;
$quaternary-color: #fbc3bc;
$quinary-color: #ffe3e0;

section {
  display: block;
  padding: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  background-color: none;
  color: black;
  font-size: 20px;
  font-family: $font-stack;
  border: 1px solid $primary-color;

  #pixabay-image {
    display: block;
    height: 33vh;
    width: 100%;
    justify-content: center;
    align-content: center;
  }

  #flag {
    max-width: 240px;
  }
  #pixa-logo {
    display: block;
    width: 150px;
    margin-top: 10px;

  }

  .entry {
    display: block;
    background: none;
  }
  p {
    display: block;
    margin-right: 5px;
    font-family: $font-thin;
  }
  h2 {
    display: block;
    color: $primary-color;
  }
  svg {
    margin-left: 5px;
    margin-right: 5px;
    fill: $primary-color;
    width: 24px;
    height: 24px;
  }
  .info{
    margin-right: 50px;
    margin-bottom: 20px;
    font-family: $font-stack;
  }
}

.holder {
    display: block;
}
